@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  color: black;
}

:root {
  --color1: skyblue;
  --Temperature: #fad0c4; 
  --WindChill: #ffd1ff;
  --FeelsLike: #fbc2eb;
  --Humidity: #d57eeb;
  --Pressure: #f5576c; 
  --HeatIndex: #fcb69f; 
  --WindDegree: #fda085; 
  --UV: #fee140; 
  --DewPoint: #ee9ca7; 
  --Cloud: #8ec5fc;
  --WindSpeed: #66a6ff;
  --Precipitation: #00f2fe; 
  --Visibility: #38f9d7; 
  --Gust: #8fd3f4;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#left-home {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100vh;
  background: gray;
  outline: .1rem solid black;
}

#left-home #title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 1.5rem auto;
  text-align: center;
}

#left-home #title h1 {
  text-transform: uppercase;
  font-size: 5rem;
  text-shadow: 2px 2px 5px var(--color1);
}

#left-home #user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  margin: 1.5rem auto;
}

#left-home #user-input input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: .1rem solid black;
  padding: 1rem;
  background: transparent;
  box-shadow: 0 10px 10px -10px var(--color1);
}

#left-home #user-input input::placeholder {
  color: black;
}

#left-home #user-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: auto;
  margin: 1.5rem auto;
  gap: 2rem;
}

#left-home #user-submit button {
  position: relative;
  text-align: center;
  width: 15rem;
  height: auto;
  padding: 1rem;
  border-radius: .5rem;
  background: black;
  color: var(--color1);
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: 1s;
  font-weight: bold;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#left-home #user-submit button:disabled {
  pointer-events: none;
}

#left-home #user-submit button:hover {
  color: black;
}

#left-home #user-submit button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color1);
  color: black;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 1s;
}

#left-home #user-submit button:hover::before {
  width: 100%;
}

#left-home #show-error {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: .5rem;
  width: 20rem;
  padding: 1rem;
  height: auto;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#left-home #show-error p {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color1)
}

#right-home {
  position: relative;
  top: 0;
  left: 15%;
  width: 70%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: .3rem solid black;
  background: gray;
}

#right-home #right-home-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 2.5rem;
}

#right-home #right-home-title button {
  position: relative;
  width: 17rem;
  height: auto;
  padding: 1rem;
  color: var(--color1);
  background: black;
  border-radius: .5rem;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: 1s;
  font-weight: bold;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#right-home #right-home-title button.active {
  background: var(--color1);
  color: black;
  transition: 1s;
}

#right-home #right-home-title button:hover {
  color: black;
}

#right-home #right-home-title button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--color1);
  color: black;
  z-index: -1;
  transition: 1s;
}

#right-home #right-home-title button:hover::before {
  width: 100%;
}

#right-home .data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

#right-home .data-container #real-time,
#right-home .data-container #tomorrow-time  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  gap: 2rem;
 
  width: 100%;
}


#right-home .data-container #alert-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  width: 100%;
}

#right-home .data-container #hour-data,
#right-home .data-container #tomorrow-hour-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  width: 100%;
}

#right-home .data-container #real-time #real-time-title,
#right-home .data-container #alert-time #alert-time-title,
#right-home .data-container #hour-data #hour-title,
#right-home .data-container #tomorrow-time #tomorrow-title,
#right-home .data-container #tomorrow-hour-time #tomorrow-hour-title {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

#right-home .data-container #real-time #real-time-title h2,
#right-home .data-container #alert-time #alert-time-title h2,
#right-home .data-container #hour-data #hour-title h2,
#right-home .data-container #tomorrow-time #tomorrow-title h2,
#right-home .data-container #tomorrow-hour-time #tomorrow-hour-title h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px var(--color1);
}

#right-home .data-container #real-time #real-time-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2.5rem;
  gap: 5rem;
  width: 100%;
}

#right-home .data-container .forecast-data:nth-of-type(1) {
  width: 80%;
}

#right-home .data-container .forecast-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2.5rem;
  gap: 5rem;
  width: 100%;
}

#right-home .data-container #real-time-data .group-data,
#right-home .data-container #alert-data .group-data,
#right-home .data-container .forecast-data .group-data {
  display: flex;
  flex-direction: column;
  align-items:center;
  align-content: flex-start;
  width: 20rem;
  height: auto;
  padding: 1rem;
  background: white;
  border-radius: .5rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#right-home .data-container #alert-data .group-data {
  min-width: 20rem;
  width: auto;
}

#right-home .data-container #real-time-data .group-data .group-title,
#right-home .data-container #alert-data .group-data .group-title,
#right-home .data-container .forecast-data .group-data .group-title {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-home .data-container #real-time-data .group-data .group-title h3,
#right-home .data-container #alert-data .group-data .group-title h3,
#right-home .data-container .forecast-data .group-data h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  text-shadow: 2px 2px 5px var(--color1);
  font-weight: bold;
}

#right-home .data-container #real-time-data .group-data .data-contents,
#right-home .data-container #alert-data .group-data .data-contents,
#right-home .data-container .forecast-data .group-data .data-contents {
  width: 100%;
}
#right-home .data-container #real-time-data .group-data .data-contents .data:nth-child(1),
#right-home .data-container #alert-data .group-data .data-contents .data:nth-child(1),
#right-home .data-container .forecast-data .group-data .data-contents .data:nth-child(1) {
  border-top: .1rem solid black;
}
#right-home .data-container #real-time-data .group-data .data-contents .data,
#right-home .data-container #alert-data .group-data .data-contents .data,
#right-home .data-container .forecast-data .group-data .data-contents .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .2rem;
  border-bottom: .1rem solid black;
}

#right-home .data-container #alert-data .group-data .data-contents .data {
  gap: 3rem;
}

#right-home .data-container #real-time-data .group-data .data-contents .data .data-title,
#right-home .data-container #alert-data .group-data .data-contents .data .data-title,
#right-home .data-container .forecast-data .group-data .data-contents .data .data-title {
  width: 7rem;
  padding: .1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#right-home .data-container #real-time-data .group-data .data-contents .data .data-title p,
#right-home .data-container #alert-data .group-data .data-contents .data .data-title p,
#right-home .data-container .forecast-data .group-data .data-contents .data .data-title p {
  font-weight: bold;
}

#right-home .data-container #real-time-data .group-data .data-contents .data .data-value,
#right-home .data-container #alert-data .group-data .data-contents .data .data-value,
#right-home .data-container .forecast-data .group-data .data-contents .data .data-value {
  width: 10rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#right-home .data-container #alert-data .group-data .data-contents .data .data-value {
  width: 50rem;
}

#right-home .data-container #real-time-data .group-data .data-contents .data .data-value p,
#right-home .data-container #alert-data .group-data .data-contents .data .data-value p,
#right-home .data-container .forecast-data .group-data .data-contents .data .data-value p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-home .data-container #real-time-data .group-data .data-contents .data .data-value img,
#right-home .data-container .forecast-data .group-data .data-contents .data .data-value img {
  width: 2rem;
  height: 2rem;
}

#right-home .data-container #alert-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
}

#right-home .data-container #alert-data .group-data #no-data-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

#right-home .data-container #alert-data .group-data #no-data-contents p {
  text-align: center;
}

#right-home .data-container #real-time-hour-data {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
  height: auto;
}

#graph-container {
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: 40rem;
}

#graph-container #line-graph {
  background: white;
  border-radius: .5rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 100%;
  height: 100%;
}

#graph-container #line-graph #line-data {
  justify-content: center;
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  flex-wrap: wrap;
}

#button-container button {
  position: relative;
  width: 15rem;
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  background: black;
  z-index: 1;
  overflow: hidden;
  transition: 1s;
  font-weight: bold;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#button-container button:nth-child(1) {
  color: white;
} 

#button-container button:nth-child(2) {
  color: var(--Temperature);
}

#button-container button:nth-child(3) {
  color: var(--WindChill);
}

#button-container button:nth-child(4) {
  color: var(--FeelsLike);
}

#button-container button:nth-child(5) {
  color: var(--Humidity);
}

#button-container button:nth-child(6) {
  color: var(--Pressure);
}

#button-container button:nth-child(7) {
  color: var(--HeatIndex);
}

#button-container button:nth-child(8) {
  color: var(--WindDegree);
}

#button-container button:nth-child(9) {
  color: var(--UV);
}

#button-container button:nth-child(10) {
  color: var(--DewPoint);
}

#button-container button:nth-child(11) {
  color: var(--Cloud);
}

#button-container button:nth-child(12) {
  color: var(--WindSpeed);
}

#button-container button:nth-child(13) {
  color: var(--Precipitation);
}

#button-container button:nth-child(14) {
  color: var(--Visibility);
}

#button-container button:nth-child(15) {
  color: var(--Gust);
}

#button-container button:hover {
  color: black;
}

#button-container button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: black;
  z-index: -1;
  transition: 1s;
}

#button-container button:nth-child(1):before {
  background: white;
}

#button-container button:nth-child(2):before {
  background: var(--Temperature);
}

#button-container button:nth-child(3):before {
  background: var(--WindChill);
}

#button-container button:nth-child(4):before {
  background: var(--FeelsLike);
}

#button-container button:nth-child(5):before {
  background: var(--Humidity);
}

#button-container button:nth-child(6):before {
  background: var(--Pressure);
}

#button-container button:nth-child(7):before {
  background: var(--HeatIndex);
}

#button-container button:nth-child(8):before {
  background: var(--WindDegree);
}

#button-container button:nth-child(9):before {
  background: var(--UV);
}

#button-container button:nth-child(10):before {
  background: var(--DewPoint);
}

#button-container button:nth-child(11):before {
  background: var(--Cloud);
}

#button-container button:nth-child(12):before {
  background: var(--WindSpeed);
}

#button-container button:nth-child(13):before {
  background: var(--Precipitation);
}

#button-container button:nth-child(14):before {
  background: var(--Visibility);
}

#button-container button:nth-child(15):before {
  background: var(--Gust);
}


#button-container button:hover::before {
  width: 100%;
}

#button-container button.active {
  color: black;
}

#button-container button:nth-child(1).active {
  background: white;
}

#button-container button:nth-child(2).active {
  background: var(--Temperature);
}

#button-container button:nth-child(3).active {
  background: var(--WindChill);
}

#button-container button:nth-child(4).active {
  background: var(--FeelsLike);
}

#button-container button:nth-child(5).active {
  background: var(--Humidity);
}

#button-container button:nth-child(6).active {
  background: var(--Pressure);
}

#button-container button:nth-child(7).active {
  background: var(--HeatIndex);
}

#button-container button:nth-child(8).active {
  background: var(--WindDegree);
}

#button-container button:nth-child(9).active {
  background: var(--UV);
}

#button-container button:nth-child(10).active {
  background: var(--DewPoint);
}

#button-container button:nth-child(11).active {
  background: var(--Cloud);
}

#button-container button:nth-child(12).active {
  background: var(--WindSpeed);
}

#button-container button:nth-child(13).active {
  background: var(--Precipitation);
}

#button-container button:nth-child(14).active {
  background: var(--Visibility);
}

#button-container button:nth-child(15).active {
  background: var(--Gust);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 125%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


.graph-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.graph-data .graph-data-title {
  width: 10rem;
  justify-content: center;
  align-items: center;
}

.graph-data .graph-data-title p {
  text-align: center;
  padding: .1rem;
}

.graph-data .graph-data-value {
  display: flex;
  flex-direction: row;
  width: 10rem;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.graph-data .graph-data-value p {
  text-align: center;
  padding: .1rem;
}

#up-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  padding: 1rem;
  background: black;
  color: var(--color1);
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 1000px) {
  #left-home {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    outline: none;
  }
  #right-home {
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 52.5%;
  }
  #right-home #right-home-title button {
    width: 10rem;
    font-size: 1.3rem;
  }
  #button-container {
    gap: 2.5rem;
  }
  #button-container button {
    width: 10rem;
    font-size: 1.2rem;
  }
}